.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 0.5px solid #000;
  margin: 0 4rem;
  box-shadow: 1px 1px 10px 2px #03396c;
  background-color: #b3cde0;
}

.container-1 {
  height: auto;
  width: 600px;
  margin: 2rem 0;
  overflow-x: hidden;
}
@media (max-width: 830px) {
  .container-1 {
    margin-top: 2.8rem;
  }
}
@media (min-width: 696px) and (max-width: 830px) {
  .container-1 {
    width: 550px;
  }
}
@media (max-width: 695px) {
  .container-1 {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 571px) and (max-width: 695px) {
  .container-1 {
    width: 500px;
  }
}
@media (max-width: 570px) {
  .container-1 {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .container-1 {
    width: 320px;
  }
}

.container-2 {
  width: 800px;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 830px) {
  .container-2 {
    margin-bottom: 2.8rem;
  }
}
@media (min-width: 696px) and (max-width: 830px) {
  .container-2 {
    width: 680px;
  }
}
@media (min-width: 571px) and (max-width: 695px) {
  .container-2 {
    width: 550px;
  }
}
@media (min-width: 501px) and (max-width: 570px) {
  .container-2 {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .container-2 {
    width: 350px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  background-color: #005b96;
  border-bottom: 0.5px solid #000;
}

.header-title {
  font-family: "Russo One", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.header-text {
  margin-left: 0.4rem;
}

.arrow-icon {
  margin-right: 0.5rem;
}

.arrow-icon:hover {
  color: #7df9ff;
  cursor: pointer;
}

.textarea {
  background-color: #b3cde0;
  outline: none;
  border: none;
  min-height: 200px;
  width: 95%;
  resize: vertical;
  padding-left: 20px;
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 501px) and (max-width: 695px) {
  .textarea {
    padding-left: 13px;
  }
}
@media (max-width: 500px) {
  .textarea {
    padding-left: 11px;
  }
}

#editor {
  margin-bottom: -5px;
}

#preview table {
  border-collapse: collapse;
}
#preview td,
#preview th {
  border: 2px solid #000;
  padding-left: 5px;
  padding-right: 5px;
}
#preview code {
  background: #fff;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}
@media (max-width: 500px) {
  #preview code {
    font-size: 11px;
  }
}
#preview pre {
  background: white;
  padding: 5px 0 5px 5px;
}
#preview blockquote {
  border-left: 3px solid #03396c;
  color: #03396c;
  padding-left: 5px;
  margin-left: 25px;
}
#preview h1 {
  border-bottom: 2px solid #011f4b;
}
#preview h2 {
  border-bottom: 1px solid #011f4b;
}

.maximized {
  width: 96.5%;
}
.maximized .textarea {
  width: 96.5%;
  resize: none;
  min-height: 95vh;
}

.hide {
  display: none;
}
